.page-layout {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.btn-create-budget {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--dark-grey);
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    text-align: center;
}

.main-page-budgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 80%;
}

.budgets-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.budgets-header h2 {
    margin: 0;
}

/* .budgets-header button {
    border: none;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
} */

.budget-dashboard {
    border-radius: 10px;
    /* margin-top: 2rem; */
    width: 100%;
    /* background-color: white; */
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.budgets-column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .main-page-budgets {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .budget-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .spending-summary {
        width: 100%;
    }

    .budgets-column {
        width: 100%;
    }

    .budgets-card {
        border: 2px solid red;
        width: 100%;
    }
}

@media (max-width: 600px) {

    /* gap: 2rem; */
    .budget-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
}