.pie-chart-inside {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
}

.pie-chart-text {
    margin: 0;
    font-size: 0.8rem;
    width: 40%;
    /* color: grey; */

    position: absolute;
    margin-top: 1rem;
}

.pie-chart-text span {
    font-weight: 800;
    font-size: 1.3rem;
}

.pie-chart-inside h2 {
    margin: 0;
    color: black;
}

.pie-svg {
    width: 90%;
    overflow: visible;
    margin-top: 1rem;
    /* position: absolute; */
    top: 0;
}


.small {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
}