:root{
    --theme-budget: red;
}

.spending-summary{
    background-color: white;
    width: 40%;
    border-radius: 10px;
    height: 34rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.summary{
    width: 80%;
}

.spendings{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.budget-category{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.budget-st p{
    /* border-left: 3px solid var(--theme-budget); */
    padding-left: 0.1rem;
    /* width: 40%; */
}

.big{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.color-bud{
    width: 0.25rem;
    height: 2.5rem;
    background-color: var(--theme-budget);
    border-radius: 50vh;
}

.spent-mon{
    font-weight: 600;
}

.max{
    color: grey;
    font-size: 0.7rem;
}

.pie-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}