:root {
    --theme-budget: red;
}

.spending-summary {
    background-color: white;
    width: 40%;
    border-radius: 10px;
    min-height: 20rem;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.pie-chart {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 15rem;
}

.summary-text {
    height: fit-content;
    width: 100%;
    margin-bottom: 1rem;
}

.spendings {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.budget-category {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.budget-st p {
    /* border-left: 3px solid var(--theme-budget); */
    padding-left: 0.1rem;
    /* width: 40%; */
}

.big {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.color-bud {
    width: 0.25rem;
    height: 2.5rem;
    background-color: var(--theme-budget);
    border-radius: 50vh;
}

.spent-mon {
    font-weight: 600;
}

.max {
    color: grey;
    font-size: 0.7rem;
}


@media (max-width: 1000px) {
    .spending-summary {
        height: 20rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (max-width:600px) {
    .spending-summary {
        display: flex;
        flex-direction: column;
    }
}