:root{
    --theme: red;
}

.spending-summary{
    background-color: white;
    width: 40%;
    border-radius: 10px;
    height: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary{
    width: 80%;
}

.spendings{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-category{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.budget-st p{
    border-left: 3px solid var(--theme);
    padding-left: 0.5rem;
    /* width: 40%; */
}

.spent-mon{
    font-weight: 600;
}

.max{
    color: grey;
    font-size: 0.7rem;
}