:root {
    --margin-bw-elements: 1.2rem;
}

.add-budget-container {
    background-color: white;
    position: fixed;
    /* top: 10%; */
    /* left: 10%; */
    border-radius: 10px;
    z-index: 1000;
    width: 28rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.add-header {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub-head-add {
    margin-top: var(--margin-bw-elements);
    font-size: 0.8rem;
    width: 90%;
    text-wrap: none;
}

.budget-info {
    margin-top: var(--margin-bw-elements);
    width: 90%;
}

.budget-info form {
    width: 100%;
}

.budget-info p {
    color: grey;
}

.one-in {
    margin-top: 0.8rem;
}

.one-in:first-child {
    margin: 0;
}

.budget-info input[type="text"] {
    background-color: white;
    /* Use a color name, hex code, or RGB value */
}

.budget-info input {
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 1.7rem;
    border: 1px solid grey;
}


.add-b {
    margin-top: var(--margin-bw-elements);
    text-align: center;
    color: white;
    width: 90%;
    background-color: var(--dark-grey);
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

.close-bud {
    cursor: pointer;
}

.button-delete {
    margin-top: var(--margin-bw-elements);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.button-delete button{
    text-align: center;
    color: white;
    width: 90%;
    /* background-color: var(--dark-grey); */
    border-radius: 5px;
    padding: 1rem 1.5rem;
    width: 100%;
}

.button-delete button:last-child{
    color: grey;
}

.red-b{
    background-color: rgb(201, 71, 54);
}

.delete{
    height: 12rem;
}

.theme-options-pot{}

.sub-color-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.color-container-pot{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.themes-chose{
    background-color: white;
}