.pots-page {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: var(--margin-top-pages);

    position: relative;
}

.main-pots {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pots-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pots-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.btn-create-budget {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--dark-grey);
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    text-align: center;
}

@media (max-width: 1000px) {
    .main-pots {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .main-pots {
        width: 100%;
    }

    .pots-grid {
        display: flex;
        flex-direction: column;
    }
}