.loading-add-popup {
    font-size: 1.5rem;
    color:rgb(56, 55, 55);
    position: fixed;
    bottom: 0%;
    left: 20%;
    padding: 0.5rem;
}

.dot-l-1 {
    animation: dot-load 0.4s 0s infinite;
}

.dot-l-2 {
    animation: dot-load 0.4s 0.2s infinite;
}

.dot-l-3 {
    animation: dot-load 0.4s 0.4s infinite;
}

.dot-l-4 {
    animation: dot-load 0.4s 0.6s infinite;
}

.dot-l-5 {
    animation: dot-load 0.4s 0.8s infinite;
}

.dot-l-6 {
    animation: dot-load 0.4s 1s infinite;
}

.dot-l-7 {
    animation: dot-load 0.4s 1.2s infinite;
}

.dot-l-8 {
    animation: dot-load 0.4s 1.4s infinite;
}

@keyframes dot-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}