.logo {
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: left;
}


.sidebar-desktop {
    background-color: rgb(32, 31, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    width: 15rem;
    height: 100vw;
    margin: 0;
}

.nav-bar {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.chosen {
    color: var(--green)
}

.nav-bar-element {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 1rem; */
    user-select: none;
}

.nav-bar-element:hover {
    cursor: pointer;
}

.nav-bar-element p {
    margin: 0;
    width: 10rem;
    text-align: left;
}

.minimize {
    margin-top: 20rem;
}

.chosen-element {
    background-color: white;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chosen-element p {
    color: black;
}

.log-out {
    color: white;
    margin-top: 10rem;
}

.logout-btn {
    color: white;
    font-size: 1rem;
}

/* MINIMIZED */

.minimized-sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;

    background-color: rgb(32, 31, 36);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 5rem;

    /* width: 15rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    /* margin-top: 10rem; */
}

.nav-bar-minimized {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-bar-mini {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 4.5rem;
    width: 6rem;
}

.chosen-mini {
    height: 4rem;
    /* height: 100%; */
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* background-color: white; */
    border-bottom: 5px solid var(--green);
}

.chosen-mini p {
    color: black;
    text-align: center;
}

.chosen-m {
    color: var(--green);
    /* color: black; */
}

.overview {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    color: var(--grey)
}

@media (max-width: 600px) {

    .minimized-sidebar {
        /* width: 400px;
        wid */
        width: 100%;
        height: 3.5rem;
    }

    .nav-bar-minimized {
        gap: 0rem
    }

    .nav-bar-mini {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 4rem;
    }

    .chosen-mini {
        height: 3rem;
    }

    .overview {
        display: none;
    }
}