.one-board-transaction-mini{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 0.45rem 1rem;
}

.one-board-transaction-mini:last-child{
    border-bottom: none;
}

.transaction-amount-mini{
    font-size: 1rem;
}

.transactions-rows-mini{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.board-mini{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 10rem; */
}

.transactions-table-mini{
    width: 100%;
}