.one-board-transaction-mini{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 0.5rem 1rem;
}

.transaction-amount-mini{
    font-size: 1rem;
}

.transactions-rows-mini{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}