.board {
    background-color: white;
    width: 100%;
    height: 100vw;
    border-radius: 15px;
}

h1 {
    user-select: none;
    width: 100%;
    text-align: left;
}

.board-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-search {
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 1.5rem;
    position: relative;
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.input-search input {
    position: absolute;
    opacity: 0;
}

.input-search p {
    width: 85%;
    text-align: left;
    margin-left: 0.5rem;
    margin: 0.5rem;
}

.sort-cat {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* width: rem; */
    position: relative;
}

.category-btn{
    position: relative;
}

.filter-window{
    position: absolute;
    /* bottom: -200%; */
    top: 100%;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.filter-window span{
    padding: 0.5rem;
}

.filter-window span{
    border-top: 1px solid black;
}

.category p {
    color: var(--grey);
}

.category button {
    color: black;
    background-color: white;
    border-radius: 7px;
    width: 9rem;
    height: 2.7rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}


.transactions-table-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 4fr 2fr 2fr 1fr;
}

.rec-sender {
    text-align: left;
}

.pages-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.page-container {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.chosen-pag {
    display: flex;
    background-color: var(--dark-grey);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.page-container:hover{
    user-select: none;
    cursor: pointer;
}

.prev-button{
    background-color: white;
    color: var(--dark-grey);
    border-radius: 10px;
    padding: 0.6rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.prev{
    margin-left: 1.3rem
}

.next{
    margin-right: 1.3rem;
}

.prev-button:hover{
    cursor: pointer;
}

.blink{
    color: rgba(128,128, 128, 0.9);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}