.transactions{
    display: flex;
    flex-flow: row;
    gap : 2rem;
    height: 100vh;
    margin-top: var(--margin-top-pages);
    /* height: fit-content; */
}

.transactions-page-layout{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}


@media (max-width: 1000px) {

    .board{
        height: fit-content;
    }

    .transactions-page-layout{
        width: 100%;
    }
    .board{
        width: 95%;
    }
}

@media (max-width:600px) {
    .reduntant{
        display: none;
    }

    .one-board-transaction{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .transactions-table-h{
        display: none;
    }


}
