.transactions{
    display: flex;
    flex-flow: row;
    gap : 2rem;
}

.transactions-page-layout{
    width: 80%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}

