.board {
    background-color: white;
    width: 100%;
    height: 100vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    user-select: none;
    width: 100%;
    text-align: left;
}

.board-header {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-search {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1.5rem;
    position: relative;
    width: 17rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    height: 2rem;
}

.input-search input {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color : black;
    height: 90%;
    width: 88%;
    background-color: white;
    /* position: absolute; */
    /* opacity: 0; */
}

input[type="text"]:focus {
  outline: none;
  border-color: #0470E2; /* Sets a new, custom border color */
}

.search-icon{
    margin-right: 0.5rem;
    cursor: pointer;
}

.input-search p {
    width: 85%;
    text-align: left;
    margin-left: 0.5rem;
    margin: 0.5rem;
}

.sort-cat {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* width: rem; */
    position: relative;
}

.category-btn {
    position: relative;
}

.filter-window {
    position: absolute;
    /* bottom: -200%; */
    top: 100%;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.filter-window span {
    padding: 0.5rem;
}

.filter-window span {
    border-top: 1px solid black;
}

.category p {
    color: var(--grey);
}

.category button {
    color: black;
    background-color: white;
    border-radius: 7px;
    width: 9rem;
    height: 2.7rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.transactions-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transactions-table-h {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 3fr 2fr 2fr 1fr;
}

.transactions-table-h p{
    color: var(--grey);
    font-size: 0.9rem;
    font-weight: 400;
}

.cat-h{
    text-align: right;
    width: 12%;
}

.trans-h{
    text-align: right;
    width: 20%;
}

.amount-h{
    text-align: left;
    width: 10%;
}

.rec-sender {
    width: 20%;
    text-align: left;
}

.pages-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.page-container {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.chosen-pag {
    display: flex;
    background-color: var(--dark-grey);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.page-container:hover {
    user-select: none;
    cursor: pointer;
}

.prev-button {
    background-color: white;
    color: var(--dark-grey);
    border-radius: 10px;
    padding: 0.6rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.prev {
    margin-left: 1.3rem
}

.next {
    margin-right: 1.3rem;
}

.prev-button:hover {
    cursor: pointer;
}

.blink {
    color: rgba(128, 128, 128, 0.9);
    animation: blink 1s infinite;
}

.transactions-rows {
    margin-top: 1rem;
    width: 95%;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}