.home-page-desktop{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* align-items: center; */
    /* justify-content: space-between; */
}

h1{
    margin:0;
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 80%;
}

.overview{
    width: 100%;
    text-align: left;
}

.grid-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.card{
    background-color: var(--dark-grey);
    color: white;
    border-radius: 10px;
    width: 33%;
    padding: 0.9rem;
}

.card p{
    text-align: left;
}

.white-card{
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 33%;
}

/* bento grid */


.bento-grid{
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    grid-template-rows: repeat(5, 100px);
    grid-template-areas: 
        "box1 box1 box1 box2 box2"
        "box1 box1 box1 box2 box2"
        "box3 box3 box3 box2 box2"
        "box3 box3 box3 box4 box4"
        "box3 box3 box3 box4 box4";
    gap: 1.2rem;
}

.bento-grid .b{
    background-color: white;
    border-radius: 10px;
}

.box1{
    height: 3rem;
}

.data{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.pots{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pots-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.pot-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.total-saved-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 6.5rem;
    border-radius: 10px;
    background-color: var(--biege);
    gap: 1rem;
}

.o-pot{
    text-align: left;
    border-left: 1px solid red;
    padding-left: 1rem;
}