.pots{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pots-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.pot-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.total-saved-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 6.5rem;
    border-radius: 10px;
    background-color: var(--biege);
    gap: 1rem;
}

.o-pot{
    text-align: left;
    border-left: 1px solid red;
    padding-left: 1rem;
}