:root {
    --pot-home-color: #82C9D7;
}

.pots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pots-header{
    margin-bottom: 4rem;
}

.pots-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    gap: 1.5rem;
}

.pot-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;
    height: fit-content;
}

.total-saved-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 6.5rem;
    border-radius: 10px;
    background-color: var(--biege);
    gap: 1rem;
}

.o-pot {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    text-align: left;
    gap: 0.5rem;
    padding-left: 0.0rem;
}

.color-col{
    height: 3rem;
    width: 0.3rem;
    background-color: var(--pot-home-color);
    border-radius: 5px;
}

.o-pot p {
    font-size: 0.7rem;
    color: grey;
}

button {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

.data {
    height: 80%;
}

.data h1 {
    margin: 0.4rem 0rem;
}