.recurring-bills-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    height: fit-content;
}



.bills-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.bills-grid-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 99%;
}

h3{
    margin: 0;
}

.first{
    width: 90%;
    background-color: var(--biege);
    border-left: 1px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}