.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.not-found-msg h1{
    font-size: 6rem;
    text-align: center;
}