.recurring-bills{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.recurring-main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 80%;
}

.recurring-header{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recurring-grid{
    /* margin-top: 10rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 99%;
}

.total{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.total-bills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: rgb(32, 31, 36);
    /* color: white; */
    border-radius: 10px;
    width: 100%;
    height: 11rem;
}

.recurring-icon{
    width: 3rem;
    color: white;
}

.recurring-bills-list{
    width: 72%;
}

.summary{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    height: 12rem;
}

.summary-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.paid{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 0.5rem; */
}

.due-soon p{
    color: red;
}