:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(248, 244, 240);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --biege: rgb(248, 244, 240);
  --green: rgb(39, 124, 120);
  --grey: rgb(105, 104, 104);
  --dark-grey: rgb(32, 31, 36);
}