:root {
    --color-themes-bud: #007bff;
}

.budgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.7rem;
}

.dougnut {
    width: 90%;
}

.budgets-overview {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.budget-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.one-info {
    width: 70%;
    /* border-left: 3px solid var(--color-themes-bud); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.1rem;
    padding-left: 0.5rem;
}

.one-info p {
    margin: 0;
}

.one-info h4 {
    width: fit-content;
    margin: 0;
}

.color-budget-left {
    width: 5%;
    height: 3rem;
    width: 0.3rem;
    border-radius: 5px;
    background-color: var(--color-themes-bud);
}

.info-pie {
    width: 70%;
}

.info-pie p{
    text-align: left;
    font-size: 0.8rem;
}

.budgets-header-home {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.budgets-header-home h2 {
    margin: 0;
}