.transactions-board-mini{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: fit-content;
}

.b-header{
    margin-top: 1rem;
    width: 85%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.btn-nav {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
}

.pot-hh {
    font-size: var(--bento-el-header);
}