.transactions-board-mini{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: fit-content;
}

.b-header{
    margin-top: 1rem;
    width: 85%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}